name: CD for JSR

on:
  push:
    tags: v*.*.**

jobs:
  jsr-publish:
    runs-on: ubuntu-latest
    environment:
      name: JSR
      url: ${{ steps.url-report.outputs.deploy_url }}

    permissions:
      id-token: write # for auth JSR
      contents: read

    steps:
    - name: Source checkout
      uses: actions/checkout@v6
    - name: Publish to JSR
      run: npx jsr publish
    - name: Report publish URL
      id: url-report
      run: |
        version="${{ github.ref_name }}"
        version="${version#v}"
        echo "deploy_url=https://jsr.io/@akuad/antenna@$version" >> "$GITHUB_OUTPUT"
