name: CI for code

on:
  push:
    branches:
    - 'main'
    - 'feature/**'

jobs:
  # Lint all JS code by Deno
  js-denolint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src

    steps:
    - name: Source checkout
      uses: actions/checkout@v4
    - name: Set up Deno
      uses: denoland/setup-deno@v2
      with:
        deno-version: v2.x
    - name: Lint all js/ts files
      run: deno lint
